 <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->


        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default bootsnav navbar-fixed">
                <div class="navbar-top bg-grey fix">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="navbar-callus text-left sm-text-center">
                                    <ul class="list-inline">
                                        <li><a href=""><i class="fa fa-phone"></i> Call us: 9879912300</a></li>
                                        <li><a href=""><i class="fa fa-envelope-o"></i> Contact us: Mytradnix@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="navbar-socail text-right sm-text-center">
                                    <ul class="list-inline">
                                        <li><a href="https://www.facebook.com/Mytradnix"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.instagram.com/mytradnix"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://twitter.com/mytradnix"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/mytradnix-71720816a/"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://in.pinterest.com/mytradnix/"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href=""><i class="fa fa-youtube"></i></a></li>
                                        <li><a href="http://www.mytradnix.com/login" class="btn btn-default m-top-200">Log in</a></li>
                                        <li><a href="http://www.mytradnix.com/register" class="btn btn-default m-top-5">Sign up</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start Top Search -->
                <div class="top-search">
                    <div class="container">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <!-- End Top Search -->


                <div class="container"> 
                    <div class="attr-nav">
                        <ul>
                            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div> 

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="#brand">
                            <img src="assets/images/logo.png" class="logo" alt="">
                            <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                        </a>

                    </div>
                    <!-- End Header Navigation -->

                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#home">Home</a></li>
                            <li  class="dropdown"><a itemprop="url" href="#contact" class="dropdown-hover" data-hover="dropdown">Insurance</a>
                             <ul class="dropdown-menu">
                                            <li ><a itemprop="url" href="#contact" ><span itemprop="name">Life Insurance</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Health Insurance</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Travel Insurance</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Mediclaim Policy</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Critical Illness</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Car & Two-Wheeler Insurance</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Senior Citizen Health Insurance</span></a></li>
                                        </ul></li>
                            
                            <li  class="dropdown"><a itemprop="url" href="#contact" class="dropdown-hover" data-hover="dropdown">Loan</a>
                             <ul class="dropdown-menu">
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Personal Loans</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Car & Two-Wheeler Loans</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Education Loans</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Mortgage Loans</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Business Loans</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Mudra Loans</span></a></li>
                                        </ul></li>
                            
                            <li  class="dropdown"><a itemprop="url" href="#contact" class="dropdown-hover" data-hover="dropdown">Investment</a>
                             <ul class="dropdown-menu">
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Guaranteed Investment</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Liquid Investment</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">SIP</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Endowment Policy</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Money Back Policy</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Short Term Investment</span></a></li>
                                            <li><a itemprop="url" href="#contact"><span itemprop="name">Fixed Deposit</span></a></li>
                                        </ul></li>
                            <li><a href="#features">About</a></li>
                            <li><a href="#business">features</a></li>
                            <li><a href="#product">Portfolio</a></li>
                            
                            <li><a href="#test">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div> 

            </nav>

            <!--Home Sections-->

            <section id="home" class="home bg-black fix">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home text-center">
                            <div class="col-md-12">
                                <div class="hello_slid">
                                    <div class="slid_item">
                                        <div class="home_text ">
                                            <h2 class="text-white">Welcome to  <strong>Mytradnix</strong></h2>
                                            <h1 class="text-white">Affordable Premium +Tax Saving.</h1>
                                            <h3 class="text-white">- We Provide a <strong>Best insurance Policy</strong> into The Market -</h3>
                                        </div>

                                        <div class="home_btns m-top-40">
                                            <a href="" class="btn btn-primary m-top-20">Enquiry Now</a>
                                            <a href="" class="btn btn-default m-top-20">Take a Tour</a>
                                        </div>
                                    </div><!-- End off slid item -->
                                    <div class="slid_item">
                                        <div class="home_text ">
                                            <h2 class="text-white">Welcome to <strong>Mytradnix</strong></h2>
                                            <h1 class="text-white">Minimal Documentation, and Flexible Payment Options.</h1>
                                            <h3 class="text-white">- We Provide a <strong>Best Loan in Affordable Interest Rates</strong> into The Market -</h3>
                                        </div>

                                        <div class="home_btns m-top-40">
                                            <a href="" class="btn btn-primary m-top-20">Apply Now</a>
                                            <a href="" class="btn btn-default m-top-20">Take a Tour</a>
                                        </div>
                                    </div><!-- End off slid item -->
                                    <div class="slid_item">
                                        <div class="home_text ">
                                            <h2 class="text-white">Welcome to <strong>Mytradnix</strong></h2>
                                            <h1 class="text-white">We Help to achieve your financial goals</h1>
                                            <h3 class="text-white">- We Provide a <strong>Best Investment Options</strong> into The Market -</h3>
                                        </div>

                                        <div class="home_btns m-top-40">
                                            <a href="" class="btn btn-primary m-top-20">Invest Now</a>
                                            <a href="" class="btn btn-default m-top-20">Take a Tour</a>
                                        </div>
                                    </div><!-- End off slid item -->
                                </div>
                            </div>

                        </div>


                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->



            <!--Featured Section-->
            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="main_features fix roomy-70">
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </div>
                                    <div class="f_item_text">
                                        <h3>Best Insurance Plans</h3>
                                        <p>Compare & Buy best life insurance plans online from leading insurance companies in India at Mytradnix.
                                            Choose low cost life insurance policy.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="fa fa-tablet"></i>
                                    </div>
                                    <div class="f_item_text">
                                        <h3>Instant Loan</h3>
                                        <p>You get approval of your loans in minutes and no charges are levied. Easy and fast process.
                                            One place solution for your Personal Loan, Business Loan, Car and Two Wheeler Loan requirements.
                                            Know more!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="features_item sm-m-top-30">
                                    <div class="f_item_icon">
                                        <i class="fa fa-sliders"></i>
                                    </div>
                                    <div class="f_item_text">
                                        <h3>Easy to Invest</h3>
                                        <p>Investing in a right mutual fund gives investors an opportunity to earn high profits.
                                            Invest online today with Mytradnix Mutual Funds in a simple & convenient way.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Featured Section-->


            <!--Business Section-->
            <section id="business" class="business bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_business">
                            <div class="col-md-6">
                                <div class="business_slid">
                                    <div class="slid_shap bg-grey"></div>
                                    <div class="business_items text-center">
                                        <div class="business_item">
                                            <div class="business_img">
                                                <img src="assets/images/about-img1.jpg" alt="" />
                                            </div>
                                        </div>

                                        <div class="business_item">
                                            <div class="business_img">
                                                <img src="assets/images/about-img2.jpg" alt="" />
                                            </div>
                                        </div>

                                        <div class="business_item">
                                            <div class="business_img">
                                                <img src="assets/images/about-img3.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="business_item sm-m-top-50">
                                    <h2 class="text-uppercase"><strong>Mytradnix</strong> is Complit Investment Solution</h2>
                                    <ul>
                                        <li><i class="fa fa-arrow-circle-right"></i> Clean & Modern Design</li>
                                        <li><i class="fa  fa-arrow-circle-right"></i> Fully Responsive</li>
                                        <li><i class="fa  fa-arrow-circle-right"></i> Google Fonts</li>
                                    </ul>
                                    <p class="m-top-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque eleifend in mi 
                                        sit amet mattis suspendisse ac ligula volutpat nisl rhoncus sagittis cras suscipit 
                                        lacus quis erat malesuada lobortis eiam dui magna volutpat commodo eget pretium vitae
                                        elit etiam luctus risus urna in malesuada ante convallis.</p>

                                    <div class="business_btn">
                                        <a href="" class="btn btn-default m-top-20">Read More</a>
                                        <a href="" class="btn btn-primary m-top-20">Buy Now</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off Business section -->


            <!--product section-->
            <section id="product" class="product">
                <div class="container">
                    <div class="main_product roomy-80">
                        <div class="head_title text-center fix">
                            <h2 class="text-uppercase">Top Insurance  Option</h2>
                            <h5>Term life and Mediclaim Policy is our best specialist</h5>
                        </div>

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a1.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a1.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Term Life Insurance</h5>
                                                        <h6>- Insurance</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a2.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a2.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Health Insurance</h5>
                                                        <h6>- Insurance</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a3.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a3.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Car Insurance</h5>
                                                        <h6>- Insurance</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a4.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a4.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Two-Wheeler Insurance</h5>
                                                        <h6>- Insurance</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a5.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a5.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Home Insurance</h5>
                                                        <h6>- Insurance</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a6.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a6.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Child Plan</h5>
                                                        <h6>- Insurance</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a7.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a7.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Home Loan</h5>
                                                        <h6>- Loan</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a8.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a8.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Mortgage Loans</h5>
                                                        <h6>- Loan</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a9.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a9.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Personal Loans</h5>
                                                        <h6>- Loan</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a10.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a10.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Guaranteed Investment</h5>
                                                        <h6>- Investment</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a11.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a11.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>Liquid Investment</h5>
                                                        <h6>- Investment</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="port_item xs-m-top-30">
                                                    <div class="port_img">
                                                        <img src="assets/images/a12.png" alt="" />
                                                        <div class="port_overlay text-center">
                                                            <a href="assets/images/a12.png" class="popup-img">+</a>
                                                        </div>
                                                    </div>
                                                    <div class="port_caption m-top-20">
                                                        <h5>SIP</h5>
                                                        <h6>- Investment</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>

                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Product section -->



            <!--Test section-->
            <section id="test" class="test bg-grey roomy-60 fix">
                <div class="container">
                    <div class="row">                        
                        <div class="main_test fix">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="head_title text-center fix">
                                    <h2 class="text-uppercase">What Client Say</h2>
                                    <h5>Clean and Modern design is our best specialist</h5>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="test_item fix">
                                    <div class="item_img">
                                        <img class="img-circle" src="assets/images/test-img1.jpg" alt="" />
                                        <i class="fa fa-quote-left"></i>
                                    </div>

                                    <div class="item_text">
                                        <h5>Bhavesh Talaviya</h5>
                                        <h6>pm enterprise.com</h6>

                                        <p>Natus voluptatum enim quod necessitatibus quis
                                            expedita harum provident eos obcaecati id culpa
                                            corporis molestias.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="test_item fix sm-m-top-30">
                                    <div class="item_img">
                                        <img class="img-circle" src="assets/images/test-img2.jpg" alt="" />
                                        <i class="fa fa-quote-left"></i>
                                    </div>

                                    <div class="item_text">
                                        <h5>Ravi Dodiya</h5>
                                        <h6>imaginethefuture.in</h6>

                                        <p>Natus voluptatum enim quod necessitatibus quis
                                            expedita harum provident eos obcaecati id culpa
                                            corporis molestias.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off test section -->


            <!--Brand Section-->
            <section id="brand" class="brand fix roomy-80">
                <div class="container">
                    <div class="row">
                        <div class="main_brand text-center">
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L1.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L2.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L3.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L4.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L5.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L6.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L7.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L8.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L9.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L10.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L11.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="brand_item sm-m-top-20">
                                    <img src="assets/images/L12.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </section><!-- End off Brand section -->
                


            <!--Call to  action section-->
            <section id="action" class="action bg-primary roomy-40">
                <div class="container">
                    <div class="row">
                        <div class="maine_action">
                            <div class="col-md-8">
                                <div class="action_item text-center">
                                    <h2 class="text-white text-uppercase">Your Promotion Text Will Be Here</h2>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="action_btn text-left sm-text-center">
                                    <a href="" class="btn btn-default">Register Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                




            <footer id="contact" class="footer action-lage bg-black p-top-80">
                <!--<div class="action-lage"></div>-->
                <div class="container">
                    <div class="row">
                        <div class="widget_area">
                            <div class="col-md-3">
                                <div class="widget_item widget_about">
                                    <h5 class="text-white">About Us</h5>
                                    <p class="m-top-20">Lorem ipsum dolor sit amet consec tetur adipiscing elit 
                                        nulla aliquet pretium nisi in cursus 
                                        maecenas nec eleifen.</p>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-location-arrow"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">Location</h6>
                                            <p>
                                                308, Dalal Chember,
                                            Nanpura, Surat India - 395001</p>
                                        </div>
                                    </div>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-phone"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">Phone :</h6>
                                            <p>+91 9879912300</p>
                                        </div>
                                    </div>
                                    <div class="widget_ab_item m-top-30">
                                        <div class="item_icon"><i class="fa fa-envelope-o"></i></div>
                                        <div class="widget_ab_item_text">
                                            <h6 class="text-white">Email Address :</h6>
                                            <p>mytradnix@gmail.com</p>
                                        </div>
                                    </div>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3">
                                <div class="widget_item widget_latest sm-m-top-50">
                                    <h5 class="text-white">Latest News</h5>
                                    <div class="widget_latst_item m-top-30">
                                        <div class="item_icon"><img src="assets/images/ltst-img-1.png" alt="" /></div>
                                        <div class="widget_latst_item_text">
                                            <p>The product information for comparison displayed on this website is of the insurers with whom our company has an agreement.</p>
                                            <a href="">21<sup>th</sup> July 2016</a>
                                        </div>
                                    </div>
                                    <div class="widget_latst_item m-top-30">
                                        <div class="item_icon"><img src="assets/images/ltst-img-2.png" alt="" /></div>
                                        <div class="widget_latst_item_text">
                                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                                            <a href="">21<sup>th</sup> July 2016</a>
                                        </div>
                                    </div>
                                    <div class="widget_latst_item m-top-30">
                                        <div class="item_icon"><img src="assets/images/ltst-img-3.png" alt="" /></div>
                                        <div class="widget_latst_item_text">
                                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                                            <a href="">21<sup>th</sup> July 2016</a>
                                        </div>
                                    </div>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3">
                                <div class="widget_item widget_service sm-m-top-50">
                                    <h5 class="text-white">Quick links</h5>
                                    <ul class="m-top-20">
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Enquiry</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Terms and Conditions</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Privacy Polocy</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Web Hosting</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Themes</a></li>
                                        <li class="m-top-20"><a href=""><i class="fa fa-angle-right"></i> Support Forums</a></li>
                                    </ul>
                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3">
                                <div class="widget_item widget_newsletter sm-m-top-50">
                                    <h5 class="text-white">Newsletter</h5>
                                    <form class="form-inline m-top-30">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Enter you Email">
                                            <button type="submit" class="btn text-center"><i class="fa fa-arrow-right"></i></button>
                                        </div>

                                    </form>
                                    <div class="widget_brand m-top-40">
                                        <a href="Mytradnix logo icon.png" class="text-uppercase">Your Logo</a>
                                        <p>Lorem ipsum dolor sit amet consec tetur 
                                            adipiscing elit nulla aliquet pretium nisi in</p>
                                    </div>
                                    <ul class="list-inline m-top-20">
                                        <li>-  <a href="https://www.facebook.com/Mytradnix"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.instagram.com/mytradnix/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://twitter.com/mytradnix"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/mytradnix-71720816a/"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://www.pinterest.com/mytradnix/"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href=""><i class="fa fa-youtube"></i></a>  - </li>
                                    </ul>

                                </div><!-- End off widget item -->
                            </div><!-- End off col-md-3 -->
                        </div>
                    </div>
                </div>
                <div class="main_footer fix bg-mega text-center p-top-40 p-bottom-30 m-top-80">
                    <div class="col-md-12">
                        <p class="wow fadeInRight" data-wow-duration="1s">
                            Made with 
                            <i class="fa fa-heart"></i>
                            by 
                            <a target="_blank" href="http://mytradnix.com">Prashant © Copyright 2018 mytradnix.com.</a>
                            All Rights Reserved
                        </p>
                    </div>
                </div>
            </footer>




        </div>


